<html lang='ko'>

	<head>
		<meta charset='UTF-8' />
		<title>{{data.title}}</title>
		<link rel='stylesheet' href='css/styles.css' />
		<script
			src='https://cdn.socket.io/3.1.3/socket.io.min.js'
			integrity='sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh'
			crossorigin='anonymous'
		></script>
		<script defer src='js/main.js'></script>
	</head>

	<body>
		<div id='hello_stranger'></div>
		<div id='chatting_box'></div>
		<form id='chat_form'>
			<input placeholder='Chat...' />
			<button type='submit'>Chat</button>
		</form>
	</body>

</html>